Importing libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Importing the data set

In [3]:
# Read dataset assign variable - df
df = pd.read_csv('global_air_pollution_data.csv')

In [4]:
# Display first 5 observations
df.head()

,country_name,city_name,aqi_value,aqi_category,co_aqi_value\t,co_aqi_category,ozone_aqi_value,ozone_aqi_category,no2_aqi_value,no2_aqi_category,pm2.5_aqi_value,pm2.5_aqi_category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good

In [5]:
# Checking missing values
df.isnull().sum()

country_name          427
city_name               1
aqi_value               0
aqi_category            0
co_aqi_value\t          0
co_aqi_category         0
ozone_aqi_value         0
ozone_aqi_category      0
no2_aqi_value           0
no2_aqi_category        0
pm2.5_aqi_value         0
pm2.5_aqi_category      0
dtype: int64

In [6]:
# Percentage of missing value
df.isnull().sum()/df.shape[0]*100

country_name          1.819887
city_name             0.004262
aqi_value             0.000000
aqi_category          0.000000
co_aqi_value\t        0.000000
co_aqi_category       0.000000
ozone_aqi_value       0.000000
ozone_aqi_category    0.000000
no2_aqi_value         0.000000
no2_aqi_category      0.000000
pm2.5_aqi_value       0.000000
pm2.5_aqi_category    0.000000
dtype: float64

In [7]:
# finding duplicates
df.duplicated().sum()

0

In [9]:
# Finding garbadge values
for i in df.select_dtypes(include="object").columns:
  print (df[i].value_counts())
  print ("***"*10)

country_name
United States of America    2872
India                       2488
Brazil                      1562
Germany                     1345
Russian Federation          1241
                            ...
Vanuatu                        1
Solomon Islands                1
Republic of Korea              1
Saint Lucia                    1
Monaco                         1
Name: count, Length: 175, dtype: int64
******************************
city_name
Praskoveya        1
Dinklage          1
Dera Din Panah    1
De Pere           1
Damghan           1
                 ..
Vinces            1
Vila              1
Ciudad Valles     1
Citeureup         1
Marang            1
Name: count, Length: 23462, dtype: int64
******************************
aqi_category
Good                              9936
Moderate                          9231
Unhealthy                         2227
Unhealthy for Sensitive Groups    1591
Very Unhealthy                     287
Hazardous                          191
Name: count, dtype: int64
******************************
co_aqi_category
Good                              23460
Moderate                              2
Unhealthy for Sensitive Groups        1
Name: count, dtype: int64
******************************
ozone_aqi_category
Good                              21069
Moderate                           1445
Unhealthy for Sensitive Groups      491
Unhealthy                           405
Very Unhealthy                       53
Name: count, dtype: int64
******************************
no2_aqi_category
Good        23448
Moderate       15
Name: count, dtype: int64
******************************
pm2.5_aqi_category
Good                              10208
Moderate                           9075
Unhealthy                          2129
Unhealthy for Sensitive Groups     1624
Very Unhealthy                      255
Hazardous                           172
Name: count, dtype: int64
******************************